<!doctype html>
<html>
  <head>  </head>
  <body >
    <div class="header">

      	<%= link_to " E-Commerce ", '/home', :class => "btn1", :id => "bt1" %>
      	<%= link_to " Store ", '/home', :class => "btn1", :id=>"bt2" %>
		<%= link_to " Gallery ", '/home', :class => "btn1" , :id=>"bt3" %>
		<h1 id="bt4"> About Us </h1>
		<%= link_to " Contact Us ", '/home', :class => "btn1" , :id=>"bt5" %>
		
    </div>
    <div class="main" >    
    	<div class="about">
    		<h1>About Us</h1>
    		<p>E-commerce is the world's leading source of professional e-commerce company.<br>
    			We combine convenience, happiness and satisfaction with online electronics shopping.</p>


    	</div>
        
	</div>
</body>
</html>
