<% provide(:about, "active")%>
<% provide(:title, "About")%>

<div class="main" >   
  <div class = "container"> 
  	<div class="about">
  		<h1>About Us</h1>
  		<p>E-commerce is the world's leading source of professional e-commerce company.<br>
  			We combine convenience, happiness and satisfaction with online electronics shopping.<br>
  			</p>
    </div>        
  </div>        
</div>
