<!doctype html>
<html>
  <head>  </head>
  <body >
    <div class="header">
      <h1 id= "bt1"> E-Commerce </h1>
      <%= link_to " Store ", '/home', :class => "btn1", :id=>"bt2" %>
      <%= link_to " Gallery ", '/home', :class => "btn1" , :id=>"bt3" %>
      <%= link_to " About Us ", '/about', :class => "btn1", :id=>"bt4" %>
      <%= link_to " Contact Us ", '/home', :class => "btn1" , :id=>"bt5" %>
      
    </div>

    <div class="main" >    

        <h1><img src = "http://www.mytotalretail.com/wp-content/uploads/sites/14/2015/07/e-commerce_small.png"></h1>
        <h2>&nbsp; Your Online Electronics Store</h2>

          <div class= "categories">
            <img src= http://eventsbyfabulous.com/wp-content/uploads/2013/09/samsung-tv-front.jpg >
            <h2 >Televisions</h2>       
          </div>


           <div class= "categories">
             <img src= "http://i1.tribune.com.pk/wp-content/uploads/2015/05/889726-image-1432188014.jpg" >
            <h2 >laptops</h2>       
          </div>

           <div class= "categories">
            <img src= "http://mustafadavis.com/wp-content/uploads/2015/03/lebanon1.jpg" >
            <h2 >Mobile phones</h2>        
          </div>

          <div class= "categories">
             <img src= "http://www.whatsappfor.org/wp-content/uploads/2014/12/tablets-montage.jpg" >
            <h2 >Tablets</h2>         
          </div>
    </div>
  </body>
</html>