<!--- <div class="main" >  
  <div class ="container">  
    <h1><img src = "http://www.mytotalretail.com/wp-content/uploads/sites/14/2015/07/e-commerce_small.png"></h1>
    <h2>&nbsp; Your Online Electronics Store</h2>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= http://eventsbyfabulous.com/wp-content/uploads/2013/09/samsung-tv-front.jpg >
        <h2 >Televisions</h2>       
      </div>
    </div>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= "http://ntci.on.ca/compsci/hef/ics2/period8/zmudzkic/Laptop.jpg" >
        <h2 >Laptops</h2>       
      </div>
    </div>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= "http://mustafadavis.com/wp-content/uploads/2015/03/lebanon1.jpg" >
        <h2 >Mobile phones</h2>        
      </div>
    </div>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= "http://www.whatsappfor.org/wp-content/uploads/2014/12/tablets-montage.jpg" >
        <h2 >Tablets</h2>         
      </div>
    </div>      
  </div>      
</div> -->
<% provide(:home, "active")%>
<div class="main" >  
  <div class ="container">  
    <div class="row">
      <div class="col-md-12">
        <h1><img src = "http://www.mytotalretail.com/wp-content/uploads/sites/14/2015/07/e-commerce_small.png"></h1>
        <h2>&nbsp; Your Online Electronics Store</h2>
      </div>
    </div>
    <div class = "row">
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://eventsbyfabulous.com/wp-content/uploads/2013/09/samsung-tv-front.jpg" >
          <h2 >Televisions</h2>       
        </div>
      </div>
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://ntci.on.ca/compsci/hef/ics2/period8/zmudzkic/Laptop.jpg" >
          <h2 >Laptops</h2>       
        </div>
      </div>
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://mustafadavis.com/wp-content/uploads/2015/03/lebanon1.jpg" >
          <h2 >Mobile phones</h2>        
        </div>
      </div>
    </div>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= "http://www.whatsappfor.org/wp-content/uploads/2014/12/tablets-montage.jpg" >
        <h2 >Tablets</h2>         
      </div>
    </div>      
  </div>      
</div> 