<% provide(:home, "active")%>
<div class="main" >  
  <div class ="container">  
    <div class="row">
      <div class="col-md-12">
        <h1><img src = "http://www.mytotalretail.com/wp-content/uploads/sites/14/2015/07/e-commerce_small.png"></h1>
        <h2>&nbsp; Your Online Electronics Store <%=@c%></h2>
      </div>
    </div>
    <div class = "row">
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://myview.com.ph/images/products/40PX150-Right.png" >
          <h2 >Televisions</h2>       
        </div>
      </div>
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://2.bp.blogspot.com/-IKhswJnmaZA/TkLAGHqDf6I/AAAAAAAAAAY/PsGAA7Uh-ac/s1600/4.jpg" >
          <h2 >Laptops</h2>       
        </div>
      </div>
      <div class= "col-md-4">
        <div class= "categories">
          <img src= "http://www.fbcathens.com/hp_wordpress/wp-content/uploads/2015/02/tabsm1.jpg" >
          <h2 >Mobile phones</h2>        
        </div>
      </div>
    <div class= "col-md-4">
      <div class= "categories">
        <img src= "http://www.whatsappfor.org/wp-content/uploads/2014/12/tablets-montage.jpg" >
        <h2 >Tablets</h2>         
      </div>
    </div>
    </div>      
  </div>      
</div> 
</div>