// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

.header {
 padding: 10px 10px 10px 40px;
 height: 60px;
 background-color: #DDDDDD ;
 font-family: 'Roboto', sans-serif;
}

.header img {
   display: inline-block;
}

.header h1 {
   display: inline-block;
   padding: 0 0 0 0;
   font-size: 21px;
   color: #708090;
}


.main {
 background-color: #f2f2f2 ;
 padding: 10px 40px 40px 40px;

}

.main h1 {
 color: #F65A5B ;
 font-size: 64px;
 margin: 0 0 40px 0;
 padding: 15px 0;
   line-height: 100px;
   width: 50%;
}

.main h1 img {
   display: inline-block;
   width: 200%;
   height: 300px;
   margin: 0 0 10px 0;
    padding: 0 0;
}


.main h2 {
 background-color: #DDDDDD ;
 color: #2d2d2d;
 font-size: 20px;
 margin: 0 0 20px 0;
 padding: 20px 0;
}

.thumbnail {
 border: 0px;
 max-width: 30%;
 position: relative;
 padding: 50px;
   border-radius: 0;
   margin-bottom:50px;
  
}

.thumbnail img {
   margin-top: 10px;
 margin-bottom: 30px;
 max-width: 100%;
}

.price {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 16px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 70px;
   line-height: 70px;
   text-align: center;
   width: 70px;
 position: absolute;
 top: -30px;
 right: -30px;
}

.categories {
   border: opx;
   max-width: 33%;
   position: relative;
   display: inline-block;
   text-align: center;
}

.categories img {
   margin-top: 10px;
 margin-bottom: 10px;
 max-width: 100%;
 height: 300px;
}


.btn1 {
   font-family: 'Roboto', sans-serif;
   color: #2d2d2d;
   font-size:20px;
   font-weight: bold;
   text-decoration: none;
   
   padding-top: 15px;
   max-width: 150px;
   display: inline-block;
   text-align: center;
   float: left;
}

.btn1:hover {  
   
   font-size:22px;

}

#bt1 {
   position: absolute;
   left: 50px;
}
#bt2 {
   position: absolute;
   left: 200px;
}
#bt3 {
   position: absolute;
   left: 280px;
}
#bt4 {
   position: absolute;
   left: 370px;
}
#bt5 {
   position: absolute;
   left: 480px;
}

.about p {
   font-size: 22px
}
